In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('./data/hotel_bookings.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

# 데이터 EDA & 전처리

## 기본 데이터 확인

In [3]:
df.shape

(119390, 32)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

## 결측치 탐색

- 대표값이나 0 혹은 다른 값으로 대체

In [7]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [18]:
print(df['children'].nunique())
print(df['children'].unique())

5
[ 0.  1.  2. 10.  3. nan]

In [21]:
df.groupby('children', as_index=False)['agent'].count().sort_values(by='agent', ascending=False)

   children  agent
0       0.0  95149
1       1.0   4411
2       2.0   3429
3       3.0     58
4      10.0      1

In [22]:
print(df['country'].nunique())
print(df['country'].unique())

177
['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']

In [17]:
df.groupby(['country'], as_index=False)['agent'].count().sort_values(by='agent', ascending=False)

    country  agent
135     PRT  37593
59      GBR  10889
56      FRA   9810
51      ESP   7848
43      DEU   6998
..      ...    ...
96      LCA      1
89      KIR      1
148     SMR      0
150     STP      0
105     MDG      0

[177 rows x 2 columns]

In [24]:
print(df['agent'].nunique())
print(df['agent'].unique())

333
[ nan 304. 240. 303.  15. 241.   8. 250. 115.   5. 175. 134. 156. 243.
 242.   3. 105.  40. 147. 306. 184.  96.   2. 127.  95. 146.   9. 177.
   6. 143. 244. 149. 167. 300. 171. 305.  67. 196. 152. 142. 261. 104.
  36.  26.  29. 258. 110.  71. 181.  88. 251. 275.  69. 248. 208. 256.
 314. 126. 281. 273. 253. 185. 330. 334. 328. 326. 321. 324. 313.  38.
 155.  68. 335. 308. 332.  94. 348. 310. 339. 375.  66. 327. 387. 298.
  91. 245. 385. 257. 393. 168. 405. 249. 315.  75. 128. 307.  11. 436.
   1. 201. 183. 223. 368. 336. 291. 464. 411. 481.  10. 154. 468. 410.
 390. 440. 495. 492. 493. 434.  57. 531. 420. 483. 526. 472. 429.  16.
 446.  34.  78. 139. 252. 270.  47. 114. 301. 193. 182. 135. 350. 195.
 352. 355. 159. 363. 384. 360. 331. 367.  64. 406. 163. 414. 333. 427.
 431. 430. 426. 438. 433. 418. 441. 282. 432.  72. 450. 180. 454. 455.
  59. 451. 254. 358. 469. 165. 467. 510. 337. 476. 502. 527. 479. 508.
 535. 302. 497. 187.  13.   7.  27.  14.  22.  17.  28.  42.  20.  19.
  45.  37.  61.  39.  21.  24.  41.  50.  30.  54.  52.  12.  44.  31.
  83.  32.  63.  60.  55.  56.  89.  87. 118.  86.  85. 210. 214. 129.
 179. 138. 174. 170. 153.  93. 151. 119.  35. 173.  58.  53. 133.  79.
 235. 192. 191. 236. 162. 215. 157. 287. 132. 234.  98.  77. 103. 107.
 262. 220. 121. 205. 378.  23. 296. 290. 229.  33. 286. 276. 425. 484.
 323. 403. 219. 394. 509. 111. 423.   4.  70.  82.  81.  74.  92.  99.
  90. 112. 117. 106. 148. 158. 144. 211. 213. 216. 232. 150. 267. 227.
 247. 278. 280. 285. 289. 269. 295. 265. 288. 122. 294. 325. 341. 344.
 346. 359. 283. 364. 370. 371.  25. 141. 391. 397. 416. 404. 299. 197.
  73. 354. 444. 408. 461. 388. 453. 459. 474. 475. 480. 449.]
nan

In [33]:
df[df['agent']==0]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 32 columns]

In [35]:
df[df['agent']==2]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
182,Resort Hotel,0,258,2015,July,28,6,2,5,2,...,No Deposit,2.0,NaN,0,Contract,47.25,0,0,Check-Out,2015-07-13
208,Resort Hotel,1,292,2015,July,28,7,2,5,2,...,No Deposit,2.0,NaN,0,Contract,47.25,0,0,Canceled,2015-03-25
836,Resort Hotel,0,286,2015,July,31,31,2,2,1,...,No Deposit,2.0,NaN,0,Transient,57.60,0,0,Check-Out,2015-08-04
1608,Resort Hotel,0,356,2015,September,36,5,4,10,2,...,No Deposit,2.0,NaN,0,Contract,91.77,0,0,Check-Out,2015-09-19
1790,Resort Hotel,0,135,2015,September,38,14,8,20,2,...,No Deposit,2.0,NaN,0,Contract,82.00,0,0,Check-Out,2015-10-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109859,City Hotel,0,177,2017,April,15,15,2,1,2,...,No Deposit,2.0,NaN,0,Transient-Party,105.33,0,1,Check-Out,2017-04-18
109860,City Hotel,0,177,2017,April,15,15,2,1,2,...,No Deposit,2.0,NaN,0,Transient-Party,105.33,0,1,Check-Out,2017-04-18
109861,City Hotel,0,177,2017,April,15,15,2,1,2,...,No Deposit,2.0,NaN,0,Transient-Party,105.33,0,1,Check-Out,2017-04-18
111393,City Hotel,0,60,2017,May,19,7,2,1,2,...,No Deposit,2.0,NaN,0,Transient,106.00,0,0,Check-Out,2017-05-10
117962,City Hotel,0,9,2017,August,32,11,0,2,2,...,No Deposit,2.0,NaN,0,Transient,144.50,0,0,Check-Out,2017-08-13

In [26]:
print(df['company'].nunique())
print(df['company'].unique())

352
[ nan 110. 113. 270. 178. 240. 154. 144. 307. 268.  59. 204. 312. 318.
  94. 174. 274. 195. 223. 317. 281. 118.  53. 286.  12.  47. 324. 342.
 373. 371. 383.  86.  82. 218.  88.  31. 397. 392. 405. 331. 367.  20.
  83. 416.  51. 395. 102.  34.  84. 360. 394. 457. 382. 461. 478. 386.
 112. 486. 421.   9. 308. 135. 224. 504. 269. 356. 498. 390. 513. 203.
 263. 477. 521. 169. 515. 445. 337. 251. 428. 292. 388. 130. 250. 355.
 254. 543. 531. 528.  62. 120.  42.  81. 116. 530. 103.  39.  16.  92.
  61. 501. 165. 291. 290.  43. 325. 192. 108. 200. 465. 287. 297. 490.
 482. 207. 282. 437. 225. 329. 272.  28.  77. 338.  72. 246. 319. 146.
 159. 380. 323. 511. 407. 278.  80. 403. 399.  14. 137. 343. 346. 347.
 349. 289. 351. 353.  54.  99. 358. 361. 362. 366. 372. 365. 277. 109.
 377. 379.  22. 378. 330. 364. 401. 232. 255. 384. 167. 212. 514. 391.
 400. 376. 402. 396. 302. 398.   6. 370. 369. 409. 168. 104. 408. 413.
 148.  10. 333. 419. 415. 424. 425. 423. 422. 435. 439. 442. 448. 443.
 454. 444.  52. 459. 458. 456. 460. 447. 470. 466. 484. 184. 485.  32.
 487. 491. 494. 193. 516. 496. 499.  29.  78. 520. 507. 506. 512. 126.
  64. 242. 518. 523. 539. 534. 436. 525. 541.  40. 455. 410.  45.  38.
  49.  48.  67.  68.  65.  91.  37.   8. 179. 209. 219. 221. 227. 153.
 186. 253. 202. 216. 275. 233. 280. 309. 321.  93. 316.  85. 107. 350.
 279. 334. 348. 150.  73. 385. 418. 197. 450. 452. 115.  46.  76.  96.
 100. 105. 101. 122.  11. 139. 142. 127. 143. 140. 149. 163. 160. 180.
 238. 183. 222. 185. 217. 215. 213. 237. 230. 234.  35. 245. 158. 258.
 259. 260. 411. 257. 271.  18. 106. 210. 273.  71. 284. 301. 305. 293.
 264. 311. 304. 313. 288. 320. 314. 332. 341. 352. 243. 368. 393. 132.
 220. 412. 420. 426. 417. 429. 433. 446. 357. 479. 483. 489. 229. 481.
 497. 451. 492.]

In [34]:
df[df['company']==0]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 32 columns]

In [32]:
df[df['company']==9]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
9713,Resort Hotel,1,12,2016,December,53,28,0,1,1,...,No Deposit,NaN,9.0,0,Transient,30.00,0,0,Canceled,2016-12-27
13963,Resort Hotel,0,0,2016,February,6,2,0,2,1,...,No Deposit,NaN,9.0,0,Transient,30.00,0,0,Check-Out,2016-02-04
13964,Resort Hotel,0,6,2017,January,4,24,0,2,1,...,No Deposit,NaN,9.0,0,Transient,35.00,0,1,Check-Out,2017-01-26
14306,Resort Hotel,0,1,2015,December,51,15,0,3,1,...,No Deposit,NaN,9.0,0,Transient,35.00,0,0,Check-Out,2015-12-18
14307,Resort Hotel,0,1,2016,February,6,2,0,2,1,...,No Deposit,NaN,9.0,0,Transient,30.00,0,0,Check-Out,2016-02-04
14308,Resort Hotel,0,3,2016,April,15,4,1,0,1,...,No Deposit,NaN,9.0,0,Transient,42.00,0,0,Check-Out,2016-04-05
14309,Resort Hotel,0,5,2016,June,26,21,0,2,1,...,No Deposit,NaN,9.0,0,Transient,65.00,0,0,Check-Out,2016-06-23
14310,Resort Hotel,0,6,2016,October,43,18,0,2,1,...,No Deposit,NaN,9.0,0,Transient,54.00,0,0,Check-Out,2016-10-20
14311,Resort Hotel,0,3,2016,December,51,12,1,2,1,...,No Deposit,NaN,9.0,0,Transient,30.00,0,0,Check-Out,2016-12-15
14312,Resort Hotel,0,6,2017,January,4,24,0,2,1,...,No Deposit,NaN,9.0,0,Transient,35.00,0,0,Check-Out,2017-01-26
14313,Resort Hotel,0,6,2017,March,10,7,0,2,1,...,No Deposit,NaN,9.0,0,Transient,35.00,0,0,Check-Out,2017-03-09
14314,Resort Hotel,0,6,2017,April,14,4,0,1,1,...,No Deposit,NaN,9.0,0,Transient,48.00,0,0,Check-Out,2017-04-05
15536,Resort Hotel,0,2,2015,July,30,23,0,1,1,...,No Deposit,NaN,9.0,0,Transient,114.00,0,0,Check-Out,2015-07-24
15537,Resort Hotel,0,3,2016,January,4,18,1,0,1,...,No Deposit,NaN,9.0,0,Transient,30.00,0,0,Check-Out,2016-01-19
15538,Resort Hotel,0,0,2016,June,26,21,0,1,1,...,No Deposit,NaN,9.0,0,Transient,65.00,0,0,Check-Out,2016-06-22
17515,Resort Hotel,0,5,2015,October,42,12,1,0,1,...,No Deposit,NaN,9.0,0,Transient,48.00,0,0,Check-Out,2015-10-13
17516,Resort Hotel,0,3,2015,December,50,10,0,1,1,...,No Deposit,NaN,9.0,0,Transient,35.00,0,0,Check-Out,2015-12-11
17517,Resort Hotel,0,5,2016,May,19,4,0,1,1,...,No Deposit,NaN,9.0,0,Transient,42.00,0,0,Check-Out,2016-05-05
17518,Resort Hotel,0,4,2016,September,40,27,0,1,1,...,No Deposit,NaN,9.0,0,Transient,59.00,0,0,Check-Out,2016-09-28
17519,Resort Hotel,0,0,2017,January,2,10,0,1,1,...,No Deposit,NaN,9.0,0,Transient,35.00,0,0,Check-Out,2017-01-11
17520,Resort Hotel,1,0,2017,January,4,26,0,1,1,...,No Deposit,NaN,9.0,0,Transient,35.00,0,0,No-Show,2017-01-26
17521,Resort Hotel,0,10,2017,February,6,6,1,0,1,...,No Deposit,NaN,9.0,0,Transient,35.00,0,0,Check-Out,2017-02-07
40742,City Hotel,0,0,2015,August,32,6,0,1,2,...,No Deposit,NaN,9.0,0,Transient,81.00,0,0,Check-Out,2015-08-07
40744,City Hotel,0,0,2015,August,32,6,0,1,2,...,No Deposit,NaN,9.0,0,Transient,81.00,0,0,Check-Out,2015-08-07
40750,City Hotel,0,0,2015,August,32,6,0,2,1,...,No Deposit,NaN,9.0,0,Transient,0.00,0,0,Check-Out,2015-08-08
40920,City Hotel,0,0,2015,August,33,9,1,0,2,...,No Deposit,9.0,9.0,0,Transient,105.00,0,0,Check-Out,2015-08-10
40966,City Hotel,0,1,2015,August,33,10,1,1,2,...,No Deposit,9.0,9.0,0,Contract,105.00,0,1,Check-Out,2015-08-12
40974,City Hotel,0,1,2015,August,33,10,1,1,2,...,No Deposit,9.0,9.0,0,Transient,114.00,0,0,Check-Out,2015-08-12
40983,City Hotel,1,1,2015,August,33,10,1,1,2,...,No Deposit,9.0,9.0,0,Transient,105.00,0,0,Canceled,2015-08-09
41003,City Hotel,0,0,2015,August,33,10,1,3,2,...,No Deposit,9.0,9.0,0,Transient,115.00,0,0,Check-Out,2015-08-14
41004,City Hotel,0,0,2015,August,33,10,1,3,1,...,No Deposit,9.0,9.0,0,Transient,114.00,0,0,Check-Out,2015-08-14
41005,City Hotel,0,0,2015,August,33,10,1,3,2,...,No Deposit,9.0,9.0,0,Transient,115.00,0,0,Check-Out,2015-08-14
41142,City Hotel,0,0,2015,August,33,13,0,2,2,...,No Deposit,9.0,9.0,0,Transient,85.00,0,0,Check-Out,2015-08-15
41144,City Hotel,0,0,2015,August,33,13,0,2,2,...,No Deposit,9.0,9.0,0,Transient,85.00,0,0,Check-Out,2015-08-15
42126,City Hotel,0,1,2015,August,36,31,1,4,1,...,No Deposit,9.0,9.0,0,Contract,92.00,0,2,Check-Out,2015-09-05
48024,City Hotel,0,83,2016,March,11,12,2,4,2,...,No Deposit,NaN,9.0,0,Transient,82.45,0,0,Check-Out,2016-03-18
76825,City Hotel,0,1,2015,August,35,24,1,0,2,...,No Deposit,9.0,9.0,0,Transient,123.50,0,3,Check-Out,2015-08-25

In [36]:
# 결측치 대체
df['children'].fillna(0, inplace=True)
df['country'].fillna('none', inplace=True)
df['agent'].fillna(0, inplace=True)
df['company'].fillna(0, inplace=True)

In [37]:
df.isnull().sum().sum()

0

## 이상치 탐색 및 클래스 불균형

In [38]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103886,0.007949,0.031912,0.087118,0.137097,0.221124,74.828319,10.775157,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398555,0.097436,0.175767,0.844336,1.497437,0.652306,107.141953,53.943884,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,152.000000,0.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

- 어디에 중점을 둘 것인지 정해야 한다.
    - 정상/취소/노쇼 각각 분리할 것인지 <= 선택 : 업샘플링 혹은 다운 샘플링 진행
    - 정상/취소 + 노쇼 binary 분류를 할 것인지 <= 선택 : 적절한 배분으로 클래스 불균형이 해소 될 것으로 판단

In [39]:
df['reservation_status'].value_counts()

Check-Out    75166
Canceled     43017
No-Show       1207
Name: reservation_status, dtype: int64

In [44]:
# 정상 비율
df['reservation_status'].value_counts()[0] / df['reservation_status'].value_counts().sum() * 100

62.958371722924866

In [45]:
# 취소 비율
df['reservation_status'].value_counts()[1] / df['reservation_status'].value_counts().sum() * 100

36.03065583382193

In [46]:
# 노쇼 비율
df['reservation_status'].value_counts()[2] / df['reservation_status'].value_counts().sum() * 100

1.010972443253204